
<section class="hero is-light is-small" style="margin-bottom: -30px">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp; Negocios
      </h1>
      <h2 class="subtitle">
        Editar negocio
      </h2>
    </div>
  </div>
</section>
<%= render "form" %>
