
<div class="container is-fluid">
  <div class="notification">
    This container is <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint.
    <a class="button is-primary">Primary</a>
    <a class="button is-info">Info</a>
    <a class="button is-success">Success</a>
    <a class="button is-warning">Warning</a>
    <a class="button is-danger">Danger</a>
  </div>
  <h1 class="title">Panel del Admin</h1>
  <h2 class="subtitle">Ok</h2>
  <div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">One</p>
      </div>
      <div class="tile is-child box">
        <p class="title">Two</p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Three</p>
          <img src="http://lorempixel.com/600/600/nature/" alt="Image">
      </div>
    </div>
  </div>
</div>
